<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <div>
        @RenderBody()
    </div>

    <a href="@Url.Action("index","home")">Index</a>
    <a href="@Url.Action("index","about")">About</a>
    <a href="@Url.Action("index","contact")">Contact</a>
    <a href="@Url.Action("index","shop")">Shop</a>
    
</body>
</html>
